<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="vehicle_system_multi_interface" 
  params="name prefix serial_port state_update_frequency use_mock_hardware">

    <ros2_control name="${name}" type="system">

      <hardware>
        <xacro:if value="${use_mock_hardware}">
          <plugin>ros2_control_blue_reach_5/VehicleSystemMultiInterfaceHardware</plugin>
        </xacro:if>

        <xacro:unless value="${use_mock_hardware}">
          <plugin>ros2_control_blue_reach_5/VehicleSystemMultiInterfaceHardware</plugin>
        </xacro:unless>
      </hardware>

      <joint name="${prefix}thruster1_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="current"/>
      </joint>

      <joint name="${prefix}thruster2_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="current"/>
      </joint>

       <joint name="${prefix}thruster3_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="current"/>
      </joint>

       <joint name="${prefix}thruster4_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="current"/>
      </joint>

       <joint name="${prefix}thruster5_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="current"/>
      </joint>

       <joint name="${prefix}thruster6_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="current"/>
      </joint>
       <joint name="${prefix}thruster7_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="current"/>
      </joint>

       <joint name="${prefix}thruster8_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
        <state_interface name="current"/>
      </joint>

      <gpio name="${prefix}_IOs">
        <command_interface name="position.x"/>
        <command_interface name="position.y"/>
        <command_interface name="position.z"/>
        <command_interface name="position.qw"/>
        <command_interface name="position.qx"/>
        <command_interface name="position.qy"/>
        <command_interface name="position.qz"/>

        <command_interface name="velocity.x"/>
        <command_interface name="velocity.y"/>
        <command_interface name="velocity.z"/>
        <command_interface name="velocity.roll"/>
        <command_interface name="velocity.pitch"/>
        <command_interface name="velocity.yaw"/>
        
        <command_interface name="effort.x"/>
        <command_interface name="effort.y"/>
        <command_interface name="effort.z"/>
        <command_interface name="effort.roll"/>
        <command_interface name="effort.pitch"/>
        <command_interface name="effort.yaw"/>

        <state_interface name="position.x"/>
        <state_interface name="position.y"/>
        <state_interface name="position.z"/>
        <state_interface name="position.qw"/>
        <state_interface name="position.qx"/>
        <state_interface name="position.qy"/>
        <state_interface name="position.qz"/>

        <state_interface name="velocity.x"/>
        <state_interface name="velocity.y"/>
        <state_interface name="velocity.z"/>
        <state_interface name="velocity.roll"/>
        <state_interface name="velocity.pitch"/>
        <state_interface name="velocity.yaw"/>
        
        <state_interface name="effort.x"/>
        <state_interface name="effort.y"/>
        <state_interface name="effort.z"/>
        <state_interface name="effort.roll"/>
        <state_interface name="effort.pitch"/>
        <state_interface name="effort.yaw"/>
      </gpio>

    </ros2_control>
  </xacro:macro>

</robot>
